<!DOCTYPE html>
<html>
<head>
	<title>Blogapp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="stylesheets/app3.css" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" crossorigin="anonymous">
	</head>
	<body>
		
	

<div class="ui main text container segment">
	<div class="ui huge header">
		Register
	</div>
	<form class="ui form" action="/register" method="POST">
		<div class="field">
			<label>Username</label>
			<input type="text" name="username" placeholder="Username">
			
		</div>
		<div class="field">
			<label>Password</label>
			<input type="password" name="password" placeholder="Password">
			
		</div>
		
		
		<button class="ui inverted purple button">Register</button>
		
	</form>
</div>
			<p>
	tagmark Blogapp
</p> 

</body>
</html>